I will import numpy as an array-processing package. I will then import pandas as I will use these two libraries to manipulate my data sets.

In [1]:
import matplotlib.pyplot as plt

In [1]:
import numpy as np

In [3]:
import pandas as pd

I would like to do my project in the financial industry. I would like to look at the alternating prices of different currencies around the globe. For this project I have chosen 2 data sets, found below. One compares the historacle price of Euro's compared to US dollars. The second compares the price of an english Pound in comparison to US dollars. While they have the same format, the dates for the Pound chart go back much further, so I will have to join the two data sets based on date.

In [4]:
EuroDollar = pd.read_csv('EuroDollar.csv')

In [5]:
PoundDollar = pd.read_csv('PoundDollar.csv')

In [6]:
EuroDollar

           date   value
0      1/4/1999  1.1825
1      1/5/1999  1.1774
2      1/6/1999  1.1622
3      1/7/1999  1.1706
4      1/8/1999  1.1577
5     1/11/1999  1.1498
6     1/12/1999  1.1564
7     1/13/1999  1.1663
8     1/14/1999  1.1700
9     1/15/1999  1.1553
10    1/19/1999  1.1605
11    1/20/1999  1.1557
12    1/21/1999  1.1591
13    1/22/1999  1.1585
14    1/25/1999  1.1549
15    1/26/1999  1.1560
16    1/27/1999  1.1423
17    1/28/1999  1.1412
18    1/29/1999  1.1357
19     2/1/1999  1.1298
20     2/2/1999  1.1339
21     2/3/1999  1.1300
22     2/4/1999  1.1328
23     2/5/1999  1.1259
24     2/8/1999  1.1324
25     2/9/1999  1.1303
26    2/10/1999  1.1326
27    2/11/1999  1.1233
28    2/12/1999  1.1275
29    2/16/1999  1.1205
...         ...     ...
5339  8/19/2019  1.1082
5340  8/20/2019  1.1099
5341  8/21/2019  1.1093
5342  8/22/2019  1.1083
5343  8/23/2019  1.1241
5344  8/24/2019  1.1241
5345  8/26/2019  1.1101
5346  8/27/2019  1.1091
5347  8/28/2019  1.1084
5348  8/29/2019  1.1058
5349  8/30/2019  1.1010
5350  8/31/2019  1.1010
5351   9/2/2019  1.0967
5352   9/3/2019  1.0971
5353   9/4/2019  1.1035
5354   9/5/2019  1.1036
5355   9/6/2019  1.1133
5356   9/7/2019  1.1133
5357   9/9/2019  1.1049
5358  9/10/2019  1.1050
5359  9/11/2019  1.1010
5360  9/12/2019  1.1060
5361  9/13/2019  1.1156
5362  9/14/2019  1.1156
5363  9/16/2019  1.1006
5364  9/17/2019  1.1072
5365  9/18/2019  1.1031
5366  9/19/2019  1.1046
5367  9/20/2019  1.1015
5368  9/21/2019  1.1015

[5369 rows x 2 columns]

In [7]:
PoundDollar

            date   value
0       1/4/1971  2.3900
1       1/5/1971  2.3900
2       1/6/1971  2.4000
3       1/7/1971  2.4000
4       1/8/1971  2.4000
5      1/11/1971  2.4000
6      1/12/1971  2.4000
7      1/13/1971  2.4000
8      1/14/1971  2.4100
9      1/15/1971  2.4100
10     1/18/1971  2.4100
11     1/19/1971  2.4100
12     1/20/1971  2.4100
13     1/21/1971  2.4100
14     1/22/1971  2.4100
15     1/25/1971  2.4100
16     1/26/1971  2.4200
17     1/27/1971  2.4200
18     1/28/1971  2.4200
19     1/29/1971  2.4200
20      2/1/1971  2.4200
21      2/2/1971  2.4200
22      2/3/1971  2.4200
23      2/4/1971  2.4200
24      2/5/1971  2.4100
25      2/8/1971  2.4200
26      2/9/1971  2.4200
27     2/10/1971  2.4200
28     2/11/1971  2.4200
29     2/16/1971  2.4200
...          ...     ...
12332  8/19/2019  1.2126
12333  8/20/2019  1.2166
12334  8/21/2019  1.2130
12335  8/22/2019  1.2253
12336  8/23/2019  1.2278
12337  8/24/2019  1.2278
12338  8/26/2019  1.2224
12339  8/27/2019  1.2285
12340  8/28/2019  1.2218
12341  8/29/2019  1.2183
12342  8/30/2019  1.2158
12343  8/31/2019  1.2158
12344   9/2/2019  1.2066
12345   9/3/2019  1.2088
12346   9/4/2019  1.2247
12347   9/5/2019  1.2327
12348   9/6/2019  1.2281
12349   9/7/2019  1.2281
12350   9/9/2019  1.2349
12351  9/10/2019  1.2355
12352  9/11/2019  1.2329
12353  9/12/2019  1.2335
12354  9/13/2019  1.2506
12355  9/14/2019  1.2506
12356  9/16/2019  1.2429
12357  9/17/2019  1.2503
12358  9/18/2019  1.2477
12359  9/19/2019  1.2524
12360  9/20/2019  1.2470
12361  9/21/2019  1.2470

[12362 rows x 2 columns]

I will combine the charts using the merge function. The calling objectect, PoundDollar will be considered the "left" table, and the object passed in, EuroDollar will be considered the "right" object. The command I am calling say's that on both the right and left data sets, combine the data where the "date" column has the same value. By using the inner command I say to only combine data where the attribute value I'm searching for matches in both data sets.

In [9]:
combinedCharts = PoundDollar.merge(EuroDollar, left_on='date', right_on='date', how='inner')
combinedCharts.head(5)

       date   value_x   value_y
0  1/4/1999      1.66    1.1825
1  1/5/1999      1.66    1.1774
2  1/6/1999      1.65    1.1622
3  1/7/1999      1.65    1.1706
4  1/8/1999      1.64    1.1577

In [10]:
combinedCharts

           date   value_x   value_y
0      1/4/1999    1.6600    1.1825
1      1/5/1999    1.6600    1.1774
2      1/6/1999    1.6500    1.1622
3      1/7/1999    1.6500    1.1706
4      1/8/1999    1.6400    1.1577
5     1/11/1999    1.6400    1.1498
6     1/12/1999    1.6300    1.1564
7     1/13/1999    1.6500    1.1663
8     1/14/1999    1.6500    1.1700
9     1/15/1999    1.6500    1.1553
10    1/19/1999    1.6600    1.1605
11    1/20/1999    1.6500    1.1557
12    1/21/1999    1.6500    1.1591
13    1/22/1999    1.6600    1.1585
14    1/25/1999    1.6600    1.1549
15    1/26/1999    1.6600    1.1560
16    1/27/1999    1.6500    1.1423
17    1/28/1999    1.6500    1.1412
18    1/29/1999    1.6500    1.1357
19     2/1/1999    1.6400    1.1298
20     2/2/1999    1.6400    1.1339
21     2/3/1999    1.6400    1.1300
22     2/4/1999    1.6400    1.1328
23     2/5/1999    1.6400    1.1259
24     2/8/1999    1.6400    1.1324
25     2/9/1999    1.6400    1.1303
26    2/10/1999    1.6300    1.1326
27    2/11/1999    1.6200    1.1233
28    2/12/1999    1.6300    1.1275
29    2/16/1999    1.6300    1.1205
...         ...       ...       ...
5287  8/19/2019    1.2126    1.1082
5288  8/20/2019    1.2166    1.1099
5289  8/21/2019    1.2130    1.1093
5290  8/22/2019    1.2253    1.1083
5291  8/23/2019    1.2278    1.1241
5292  8/24/2019    1.2278    1.1241
5293  8/26/2019    1.2224    1.1101
5294  8/27/2019    1.2285    1.1091
5295  8/28/2019    1.2218    1.1084
5296  8/29/2019    1.2183    1.1058
5297  8/30/2019    1.2158    1.1010
5298  8/31/2019    1.2158    1.1010
5299   9/2/2019    1.2066    1.0967
5300   9/3/2019    1.2088    1.0971
5301   9/4/2019    1.2247    1.1035
5302   9/5/2019    1.2327    1.1036
5303   9/6/2019    1.2281    1.1133
5304   9/7/2019    1.2281    1.1133
5305   9/9/2019    1.2349    1.1049
5306  9/10/2019    1.2355    1.1050
5307  9/11/2019    1.2329    1.1010
5308  9/12/2019    1.2335    1.1060
5309  9/13/2019    1.2506    1.1156
5310  9/14/2019    1.2506    1.1156
5311  9/16/2019    1.2429    1.1006
5312  9/17/2019    1.2503    1.1072
5313  9/18/2019    1.2477    1.1031
5314  9/19/2019    1.2524    1.1046
5315  9/20/2019    1.2470    1.1015
5316  9/21/2019    1.2470    1.1015

[5317 rows x 3 columns]

1. The relationship between international currencies can create additional value for banks who are looking at different currencies to invest in. If they see that one remains more stable than others, it is a safer bet to place thier money in. 

2. Another way these data sets can create additional value is that they can reveal patterns and reasons why a certain currency remains stable or varies drastically. If one were to look at these data sets against dates of Wars, or political dissent within the EU, England, and the United States, they would be able to more accurately predict future trends in our monetary value on a global scale.